
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,200;1,200&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Kanit';
}
body {
    width: 100%;
    height:auto;
    padding: 30px 30px;
    background: url(../img/bg.jpg);
    background-repeat: no-repeat;
    background-position: center;
    
}

.container {
    float: left;
    width: 100%;
    height:100%;
    padding: 13px 25px;
    border-radius: 70px;
    background-color: antiquewhite;
}

.container .container2 {
    float: left;
    width: 100%;
    height:auto;
    border-radius: 50px;
    text-align:center;
    padding: 30px;
    background-color: white;
    text-align: center;
}
.container2 h3 {
    font-family: 'Kanit';
    text-transform: uppercase;
    margin-top:  -10px;
    color: rgb(255, 0, 230);
    margin-right: 860px;
    font-size: 15px;
    padding: 5px 10px;
}
.balance {
    float: left;
    width: 30%;
    height:100%; 
    padding: 40px;
    border-radius: 70px;
    background-color: #fef2f2;
    overflow: hidden;
    
}
.list-menu {
    float: left;
    width: 70%;
    height:80%;
    padding: 40px;
    border-radius: 70px; 
    background-color: #fae2e2;

}
.balance h1 {
    font-family: 'Kanit';
    text-transform: uppercase;
    margin-top:  0px;
    color: rgb(1, 1, 1);  
}
.profile-history h2 {
  color: rgb(0, 55, 255);
  margin-top: 10px;
  margin-bottom: 3px;
}
.profile-email {
    font-size: 20x;
    margin-top: 0px;
  }
  table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
  }
  
  th {
    border: 1px solid #dddddd;
    text-align: center;
    padding: 8px;
    color: rgb(253, 103, 9);
    background-color: #ffd3c6;
  }
  
  tr:nth-child(even) {
    background-color: #f8f3c8;
  }

.detail-title {
  float: left;
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
  
}
.detail-title-title {
  background-color: #ffc0b9;
  text-align: left;
}
.detail-amount-month-deposit,
.detail-amount-month-withdraw,
.detail-amount-month-borrow,
.detail-amount-month-borrwpay,
.detail-amount-year,
.detail-amount {
  border: 1px solid #dddddd;
  text-align: right;
  padding: 8px;
  font-weight: bold;
}
.active {
    font-family: 'Kanit';
    font-size: 1.2em;
    color: rgb(101, 101, 245);
    font-weight: bold;
    visibility: visible;
  }
.non-active , .user-profile-card-title i {
  font-family: 'Kanit';
  font-size: 1.2em;
  color: #fef2f200;
  font-weight: bold;
  background-color:  #fef2f200;
  display: none;
}
.no-active {
  font-family: 'Kanit';
  font-size: 1.2em;
  color: rgba(249, 249, 249, 0);
  font-weight: bold;
  background-color:  #ffffff00;
  display: none;
}

.logout_btn {
    width: 50%;
    padding: 12px 10px;
    margin-right: 10px;
    margin-bottom: 0px;
    float:right;
    border-radius: 15px;
    outline: none;
    background-color: #f50303;
    color: aliceblue;
    border: none;
    text-transform: uppercase;
    font: bold 'Montserrat' 2em;
  }
  .logout_btn:hover {
    background-color: rgb(245, 160, 160);
  }

li {
  list-style: none;
}
.list-menu-img {
  margin-top: 70px;
  margin-bottom: 50px;
  padding: 5px ;
}
.list-menu .list-menu-img {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 100%;
  /* height: 100%; */
}
.list-menu .list-menu-img li img {
  width: 170px;
  height: auto;
  object-fit: cover;
  border-radius: 60px;
}
.list-menu .list-menu-img li img:hover {
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.1), 0 0 20px rgba(0, 0, 0, 0.1);
  transform: scale(1.2, 1.2);
  transition: 200ms ease-in-out;
}
.list-menu-img li {
  margin: 0 2em 3em 0;
}
  .list-menu-img img {
    cursor: pointer;
  }
  
  .list-menu-img-admin {
    display: none;
  }
  .list-menu-img-admin-active {
    display: unset;
  }
  .list-menu-img-user {
    display: none;
  }
  .list-menu-img-user-active {
    display: unset;
  }
  .Profile-User .user-profile-card-title i {
    font-size: 2em;
    background-color: rgb(255, 232, 232);
    padding: 0.25em 0.25em;
    border-radius: 10px;
    
  }
  .Profile-User {
    width: 100%;
    height: 50%;
    /* background-color: rgb(160, 252, 252); */
    border-radius: 20px;
    padding: 0em 0em;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    float: left;
  }
  
.Profile-User .user-profile-card-details {

    width: 100%;
    margin-top: 0em;
    padding: 0em 0em;
  }
  .Profile-User,
  .user-profile-card-details,
  .user-profile-card-details-label {
    border-radius: 20px;
    background-color: rgba(255, 232, 232, 0);
    padding: 0.3em 0.1em;
    margin-top: -0;
    float: top;
  }
  .user-profile-card-details-label p {
    margin: 10px;
    font-family: 'Kanit';
    font-weight: bold;
    font-size: 15px;
  }
  
  .user-profile-card-details-label {
    display: flex;
    /* justify-content: space-around; */
    align-items: left;
  }
  .user-profile-card-details-label {
    position: relative;
  }
  #user-name,
  #user-personal-number,
  #user-date,
  #user-amount, 
  #user-address,
  #user-telnumber,
  #user-sex,
  #user-dividend{
    color: blueviolet;
    position: absolute;
    left: 45%;
    opacity: 1;
    font-size: 15px;
  }
  .new_member i {
    font-size: 100px;
    margin-top: 10px;
  }
.chang_password_new {
  margin-top: -60px;
}
.chang_password_new p {
  font-size: 30px;
  font-weight: bold;
  color: #f50303;
  
}
.chang_password_new label {
  font-size: 20px;
  font-weight: bold;
  display: flex;
  margin-top: 10px;
  margin-left: 60px;
}
.chang_password_new input {
    padding: 10px 10px;
    outline: rgb(101, 101, 245);
    border: solid 1px rgb(105, 104, 104);
    border-radius: 15px;
    width: 70%;
    margin-top: 5px;
    margin-left: auto;
    text-align: center;
}
.rePassword_btn {
  width: 50%;
  padding: 12px 10px;
  margin-right: 95px;
  margin-top: 20px;
  float:right;
  border-radius: 15px;
  outline: none;
  background-color: #6d6d6d;
  color: aliceblue;
  border: none;
  text-transform: uppercase;
  font: bold 'Montserrat' 2em;
  font-size: 20px;
}
.rePassword_btn:hover{
  background-color: rgb(3, 3, 3);
}
  /*respon*/
  @media only screen and (max-width: 1000px) {
    .container {
      width: 100%;
      
    }
    .container2 {
      width: 100%;
    }
    .container2 .balance {
      width: 80%;
      padding: 0;
    }
    .container2 .list-menu {
      width: 80%;
    }
    .balance h1 {
    font-size: 15px;
    margin-top: 6px;
    }
  }
  @media only screen and (max-width: 500px) {
    .balance , .list-menu {
      width: 80%;
    }
    .list-menu-img {
      overflow-y: scroll;
      width: 100%;
      height: 100%;
    }
    #user-name,
  #user-personal-number,
  #user-date,
  #user-amount, 
  #user-address,
  #user-telnumber,
  #user-sex,
  #user-dividend{
    font-size: 12px;
  }
  .user-profile-card-details-label p {
    font-size: 12px;
  }
  
  }
  @media only screen and (max-width: 1400px) {
    .list-menu .list-menu-img li img {
      width: 190px;
    }
  }
  @media only screen and (max-width: 420px) {
  .container2 h3 {
    margin-top:  -18px;
    margin-right: 80px;
    font-size: 10px;
  }
  .container .container2 {
    padding: 30px 10px ;
  }
  .balance {
    width: 100%;
    padding: 0px;
    border-radius: 30px; 
  }
  .list-menu {
      width: 90%;
      border-radius: 30px;
      padding: 10px; 
  }
    .list-menu-img {
      overflow-y: scroll;
      width: 100%;
      height: 100%;
    }
    .list-menu .list-menu-img li img {
      width: 140px;
      border-radius: 30px;
      text-align: center;
    }
    #user-name,
  #user-personal-number,
  #user-date,
  #user-amount, 
  #user-address,
  #user-telnumber,
  #user-sex,
  #user-dividend{
    font-size: 12px;
  }
  .user-profile-card-details-label p {
    font-size: 12px;
  }
  
  .chang_password_new {
    margin-top: -50px;
    padding: 0;
  }
  .chang_password_new p {
    font-size: 15px;
  }
  .chang_password_new label {
    font-size: 12px;
    margin-left: 20px;
  }
 
  .rePassword_btn {
    width: 40%;
    margin-left: 50px;
    margin-right: 40px;
    font-size: 10px;
  }
  
  }
  
  

