@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,200;1,200&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Kanit';
}
body {
    width: 100%;
    height:100%;
    padding: 30px 30px;
    background: url(../img/bg.jpg);
    background-repeat: no-repeat;
    background-position: center;
}
.header {
    float: center;
    width: 100%;
    height:100%;
    left: 120px;
    top: 37px;
    background-color: #FCDEDE;
    border-color: #E1A0A0;
    border-style: solid;
    border-radius: 67px;
}
.header h1 {
    color: #1d04f7;
    font-size: 60px;
    font-weight: bold;
    text-align: center;
}
.header h2 {
    text-align: center;
    margin-top: 30px;
}

.detail1 {
    float: left;
    width: 30%;
    height:60%;
    margin-top: 2%;
    background-color: #ffffff34;
    border-color: #b8acb6;
    border-style: solid;
    border-radius: 67px;
    margin-bottom: 2%;
}
.detail1 p {
    float: left;
    width: 80%;
    height:90%;
    margin-top: 9%;
    margin-bottom: 7%;
    margin-left: 40px;

    font-style: normal;
    font-size: 20px;
    line-height: 60px;
    display: grid;
    text-align: left;

    color: #000000;
}
.detail2 {
    float: left;
    width: 30%;
    height:60%;
    margin-top: 2%;
    margin-left: 2%;
    background-color: #ffffff34;
    border-color: #b8acb6;
    border-style: solid;
    border-radius: 67px;
}
.detail2 #manual {
    float: center;
    width: 70%;
    height:80px;
    margin-left: 14%;
    margin-top: 20%;
    background: #848484;
    border-radius: 67px;
    font-size: 30px;
    font-weight: bold;
    color: #ffffff;
}
.detail2 #manual:hover {
    background-color: #000000f9;
}
.detail2 #login {
    float: center;
    width: 70%;
    height:80px;
    margin-left: 14%;
    margin-top: 16%;
    margin-bottom: 27%;
    background: #848484;
    border-radius: 67px;
    font-size: 30px;
    font-weight: bold;
    color: #ffffff;
}
.detail2 #login:hover {
    background-color: #000000f9;
}
.detail3 {
    float: left;
    width: 30%;
    height:60%;
    margin-top: 20px;
    margin-left: 20px;

    background-color: #ffffff34;
    border-color: #b8acb6;
    border-style: solid;
    border-radius: 67px;
}
.detail3 #qrCode {
    float: left;
    width: 70%;
    margin-top: 3%;
    margin-left: 16%;
    margin-bottom: 17%;
}
.detail3 p {
    float: left;
    width: 90%;
    height:100%;
    margin-top: 15px;
    margin-left: 120px;
    font-size: 20px;
}
.develop  p{
    float: center;
    width: 13%;
    height:10%;
    margin-top: 8%;
    font-family: 'Sniglet';
    font-style: normal;
    font-weight: 400;
    font-size: 17px;
    text-align: center;

    color: #000000;
}
.logo {
    float: left;
    margin-top: -6%;
}
#logoCoe {
    float: left;
    width: 7%;
    margin-left: 70%;
}
#logoPsu {
    float: center;
    width: 10%;
    margin-left: 50px;
}
@media only screen and (max-width:500px) {
    /* For mobile phones: */
    .header, .detail1, .detail2 .detail3
    {
      width: 100%;
    }
    .header h1 {
        font-size: 30px;
    }
    .header h2 {
        font-size: 20px;
    }
    .detail1 p {
        top: 0px;
        font-size: 15px;
        line-height: 30px;
    }
    .detail2 {
        width: 100%; 
    }
    .detail2 #manual {
        width: 80%;
        height:60px;
        font-size: 20px;
        margin-top: 6%;
        margin-left: 10%;
    }
    .detail2 #login {
        width: 80%;
        height:60px;
        font-size: 20px;
        margin-top: 6%;
        margin-left: 10%;
        margin-bottom: 7%;
    }
    .detail3 {
        width: 100%; 
        margin-left: 0%;
    }
    
    .detail3 #qrCode {
        width: 50%;
        margin-top: 3%;
        margin-bottom: 7%;
       margin-left: 25%;
    }
    .detail3 p {
        font-size: 15px;
        margin-left: 95px;
    }
    .develop  p{
        width: 25%;
        font-size: 10px;
    }
    .logo {
        float: left;
        margin-top: -8%;
    }
    #logoCoe {
        float: left;
        width: 7%;
        margin-left: 70%;
    }
    #logoPsu {
        float: center;
        width: 10%;
        margin-left: 80%;
        margin-top: -11%;
    }
  }