
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,200;1,200&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Kanit';
}
body {
    width: 100%;
    height:auto;
    padding: 30px 30px;
    background: url(../img/bg.jpg);
    background-repeat: no-repeat;
    background-position: center;
    
}

.container {
    width: 100%;
    height:100%;
    padding: 13px 25px;
    border-radius: 70px;
    background-color: antiquewhite;
}

.container .container2 {
    float: left;
    width: 100%;
    height:auto;
    border-radius: 50px;
    text-align:center;
    padding: 30px;
    background-color: white;
    text-align: center;
}
.container2 h3 {
    font-family: 'Kanit';
    text-transform: uppercase;
    margin-top:  -10px;
    color: rgb(255, 0, 230);
    margin-right: 800px;
    font-size: 15px;
    padding: 5px 10px;
}
.balance {
    float: left;
    width: 40%;
    height:100%; 
    padding: 40px;
    border-radius: 70px;
    background-color: #fef2f2;
    overflow: hidden;
    
}
.details {
    float: left;
    width: 60%;
    height:80%;
    padding: 40px;
    border-radius: 70px; 
    background-color: #fae2e2;
  
  }
.balance h1 {
    font-family: 'Kanit';
    text-transform: uppercase;
    margin-top:  0px;
    color: rgb(1, 1, 1);  
}

.logout_btn {
    width: 50%;
    padding: 12px 10px;
    margin-right: 10px;
    margin-bottom: 0px;
    float:right;
    border-radius: 15px;
    outline: none;
    background-color: #f50303;
    color: aliceblue;
    border: none;
    text-transform: uppercase;
    font: bold 'Montserrat' 2em;
  }
  .logout_btn:hover {
    background-color: rgb(245, 160, 160);
  }

  .content .btn-list {
    margin-top: -37px;
    margin-right: auto;
    text-transform: uppercase;
    font-family: 'Quicksand';
    background-color: whitesmoke;
    border: solid 1px rgb(28, 230, 28);
    border-radius: 15px;
    color: rgb(101, 245, 127);
    outline: none;
    padding: 0.5em 0.5em;
}
.content .btn-list i {
    margin-right: 10px;
  }
  .content .btn-list:hover {
    background-color: rgb(101, 245, 101);
    border: solid 1px rgb(28, 230, 68);
    color: whitesmoke;
  }
  table i {
    color: rgb(101, 101, 245);
    cursor: pointer;
  }
  table i:hover {
    transform: scale(1.2, 1.2);
  }
  
  .list-menu .input-group {
    display: flex;
    position: relative;
    justify-content: flex;
    margin-top: 20px;;
  }
  .list-menu .btn-primary {
    border-radius: 0 5px 5px 0;
  }
  .list-menu tr {
    color: #060606;
  }
  .all {
    display: flex;
    margin-right: 2.5em;
  }
  
  .hide {
    display: none;
  }
  .Profile-User .user-profile-card-title i {
    font-size: 2em;
    background-color: rgb(255, 232, 232);
    padding: 0.25em 0.25em;
    border-radius: 10px;
    
  }
  .Profile-User {
    width: 100%;
    height: 50%;
    /* background-color: rgb(160, 252, 252); */
    border-radius: 20px;
    padding: 0em 0em;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    float: top;
  }
  
.Profile-User .user-profile-card-details {
    width: 100%;
    margin-top: 0em;
    padding: 0em 0em;
  }
  .Profile-User,
  .user-profile-card-details,
  .user-profile-card-details-label {
    border-radius: 20px;
    background-color: rgba(255, 232, 232, 0);
    padding: 0.3em 0.1em;
    margin-top: -0.5em;
    float: top;
  }
  .user-profile-card-details-label p {
    margin: 10px;
    font-family: 'Kanit';
    font-weight: bold;
    font-size: 15px;
  }
  
  .user-profile-card-details-label {
    display: flex;
    /* justify-content: space-around; */
    align-items: left;
  }
  .user-profile-card-details-label {
    position: relative;
  }
  #user-name,
  #user-personal-number,
  #user-date,
  #user-amount, 
  #user-address,
  #user-telnumber,
  #user-sex,
  #user-dividend{
    color: blueviolet;
    position: absolute;
    left: 45%;
    opacity: 1;
    font-size: 15px;
  }
  .menu {
    margin-left: -20px;
    width: 30%;
    height: 40px;
    margin-top:  -70px;
    margin-left: -50px;
    padding: 5px 5px;
    border-radius: 30px;
    outline: none;
    color: black;
}
.home a {
    text-transform: uppercase;
    margin-top:  0px;
    color: rgb(3, 3, 3);
    font-size: 18px;
}
.home a:hover {
    color: rgb(46, 0, 250);
  }
.menu .trans {
    width: 200px;
    height: 40px;
    margin-top:  -40px;
    margin-left: 150px;
    padding: 5px 5px;
    border-radius: 30px;
    outline: none;
    color: black;
    background-color: #8499f7;
    overflow: hidden;
}
.trans .dropdown {
  cursor: pointer;
  font-size: 20px;  
  border: none;
  outline: none;
  color: white;
  padding: 5px 5px;
  width: 120px;
  height: 40px;
  border-radius: 30px;
  background-color: inherit;
  font-family: 'Kanit';
  margin: 0;
}

.navbar a:hover, .trans:hover .dropdown, .dropdown:focus {
  background-color:  #4767f4;
  border-radius: 30px;

}

.transaction {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.transaction a {
  float: none;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.transaction a:hover {
  background-color: rgb(182, 221, 252);
}

.show {
  display: block;
}


.navbar a:hover, .trans:hover  {
  background-color:  #4767f4;
  border-radius: 30px;

}


.content {
    width: 100%;
    height: 100%;
}
.content {
    display: flex;
    flex-direction: column;
    padding: 20px 20px;
    
  }
.content table i {
    color: rgb(101, 101, 245);
    cursor: pointer;
}
.content table i:hover {
    transform: scale(1.2, 1.2);
}
  
.content .group-field {
    display: inline;
}
.content input {
    margin-bottom: 2em;
    padding: 10px 10px;
    outline: rgb(101, 101, 245);
    border: solid 1px rgb(105, 104, 104);
    border-radius: 15px;
    width: 95%;
}
.groups-field {
    display: flex;
    width: 100%;
    margin-top: -24px;  
}
  .groups-field .group {
    margin-right: 1em;
    width: 33%;
}
  .groups-field .group .label-name {
    display: block;
}
  .groups-field .group input {
    width: 100%;
    box-sizing: border-box;
    border: none;
    border-bottom: 2px solid red;
    background-color: #fdebeb;
}
.content button {
    width: 30%;
    align-self: flex-end;
    padding: 0.5em 1em;
    border-radius: 10px;
    border: 1px solid #2196f3;
    color: #2196f3;
    outline: none;
    background-color: white;
    cursor: pointer;
    margin-top: -10px;
}
.content button:hover {
    background-color: #2196f3;
    color: white;
}
.content #table table{
    width: 100%;
    margin-top: 14px;
    font-family: 'Kanit';
    visibility: hidden;
    
  }
  
  table tbody tr th,
   table tbody tr td {
    padding: 0.5em 0.5em;
    border: 1px solid rgb(148, 149, 156);
  }
  
 table tbody tr th {
    background-color: #F5C6C6;
    color: rgb(5, 5, 5);
  }

 table tbody tr th,
  table tbody tr td {
    visibility: visible;
    border: 2px solid rgb(83, 84, 87);
  }

  .table #myTable table{
    width: 100%;
    margin-top: 14px;
    font-family: 'Kanit';
    visibility: hidden;
    
  }
  .table table tbody {
    padding: 0.5em 0.5em;
  }
  .table  table tbody tr th,
  .table  table tbody tr td {
    padding: 0.5em 0.5em;
    border: 1px solid rgb(148, 149, 156);
  }
  
  .table  table tbody tr th {
    background-color: #F5C6C6;
    color: rgb(5, 5, 5);
  }

  .table  table tbody tr th,
  .table table tbody tr td {
    visibility: visible;
    border: 2px solid rgb(83, 84, 87);
  }
.set_table {
    visibility: visible;
  }
  .user-history-borrow {
    margin: 0px;
    font-family: 'Kanit';
    font-weight: bold;
    font-size: 20px;
    color: #f44747;
  }
  .user-history-borrow-details,
  .user-history-borrow-details-label {
    border-radius: 20px;
    background-color: rgba(255, 232, 232, 0);
    padding: 0.3em 0.1em;
    margin-top: -0.5em;
    float: top;
  }
  .user-history-borrow-details-label p {
    margin: 10px;
    font-family: 'Kanit';
    font-weight: bold;
    font-size: 15px;
  }
  
  .user-history-borrow-details-label {
    display: flex;
    /* justify-content: space-around; */
    align-items: left;
  }
  .user-history-borrow-details-label {
    position: relative;
  }
  #borrow-name,
  #borrow-personal-number,
  #borrow-date,
  #borrow-amount, 
  #borrow-amount_payment,
  #borrow-telnumber,
  #borrow-total_amount_pay,
  #borrow-status{
    color: rgb(5, 66, 163);
    position: absolute;
    left: 45%;
    opacity: 1;
    font-size: 15px;
  }
  /*respon*/
  @media only screen and (max-width: 1000px) {
    .container {
      width: 100%;
      
    }
    .container2 {
      width: 100%;
    }
    .container2 .balance {
      width: 80%;
      padding: 0;
    }
    .container2 .balance {
        width: 80%;
        padding: 0;
      }
      .container2 .details {
        width: 80%;
        margin-top: 50px;
      }
      .menu .trans {
        width: 100px;
        height: 35px;
        margin-left: 7em; 
      }
      .trans .dropdown {
        cursor: pointer;
        font-size: 15px; 
        
      }
      
      .home a {
        text-transform: uppercase;
        margin-right:  -2em;
        color: rgb(3, 3, 3);
        font-size: 17px;
      }
      .groups-field .group .label-name {
        font-size: 12px;
        padding: 0;
      }
      .logout_btn {
        width: 30%;
      }
  }
  @media only screen and (max-width: 500px) {
    .balance , .list-menu {
      width: 80%;
    }
    .list-menu-img {
      overflow-y: scroll;
      width: 100%;
      height: 100%;
    }
    #user-name,
  #user-personal-number,
  #user-date,
  #user-amount, 
  #user-address,
  #user-telnumber,
  #user-sex,
  #user-dividend{
    font-size: 12px;
  }
  .user-profile-card-details-label p {
    font-size: 12px;
  }
  
  }
  @media only screen and (max-width: 1400px) {
    .list-menu .list-menu-img li img {
      width: 190px;
    }
  }

  
  

