
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,200;1,200&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Kanit';
}
body {
width: 100%;
height:auto;
padding: 30px 30px;
background: url(../img/bg.jpg);
background-repeat: no-repeat;
background-position: center;

}

.container {
width: 100%;
height:100%;
padding: 13px 25px;
border-radius: 70px;
background-color: antiquewhite;
}

.container .container2 {
float: left;
width: 100%;
height:auto;
border-radius: 50px;
text-align:center;
padding: 30px;
background-color: white;
text-align: center;
}

.container2 h3 {
font-family: 'Kanit';
text-transform: uppercase;
margin-top:  -15px;
color: rgb(255, 0, 230);
margin-right: 850px;
font-size: 15px;
padding: 5px 10px;
}
.container2 h4 {
font-family: 'Kanit';
text-transform: uppercase;
margin-top:  -10px;
color: rgb(4, 0, 255);
margin-right: 870px;
font-size: 25px;
padding: 5px 10px;
font-weight: bold;
}
.details {
  width: 100%;
  height:80%;
  padding: 0px;
  border-radius: 70px; 
  background-color: #fae2e2;
  margin-top: 0px;

}
.logout_btn {
  width: 20%;
  padding: 12px 1px;
  margin-top: 10px;
  margin-bottom: 20px;
  margin-left: 700px;
  border-radius: 15px;
  outline: none;
  background-color: #f50303;
  color: aliceblue;
  border: none;
  text-transform: uppercase;
  font: bold 'Montserrat' 2em;
}
.logout_btn:hover {
  background-color: rgb(245, 160, 160);
}
.repassword_btn {
  margin-top: -140px;
  margin-right: -90px;
  margin-bottom: 10px;
  text-transform: uppercase;
  font-family: 'Quicksand';
  background-color: rgb(106, 105, 105);
  border: solid 1px rgb(253, 255, 253);
  border-radius: 15px;
  color: rgb(240, 244, 240);
  outline: none;
  padding: 0.5em 0.5em;
}
.repassword_btn:hover {
  background-color: rgb(4, 4, 4);
  border: solid 1px rgb(28, 230, 68);
  color: whitesmoke;
}
.menu {
  width: 30%;
  height: 40px;
  margin-top:  -40px;
  margin-left: 260px;
  padding: 5px 5px;
  border-radius: 30px;
  outline: none;
  color: black;
}
.home a {
  text-transform: uppercase;
  margin-top:  0px;
  color: rgb(3, 3, 3);
  font-size: 18px;
  margin-right: 140px;
}
.home a:hover {
  color: rgb(46, 0, 250);
}
.menu .trans {
  width: 200px;
  height: 40px;
  margin-top:  -40px;
  margin-left: 150px;
  padding: 5px 5px;
  border-radius: 30px;
  outline: none;
  color: black;
  background-color: #8499f7;
  overflow: hidden;
}
.trans .dropdown {
cursor: pointer;
font-size: 20px;  
border: none;
outline: none;
color: white;
padding: 5px 5px;
width: 120px;
height: 40px;
border-radius: 30px;
background-color: inherit;
font-family: 'Kanit';
margin: 0;
}

.navbar a:hover, .trans:hover .dropdown, .dropdown:focus {
background-color:  #4767f4;
border-radius: 30px;

}

.transaction {
display: none;
position: absolute;
background-color: #f9f9f9;
min-width: 160px;
box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
z-index: 1;
}

.transaction a {
float: none;
color: black;
padding: 12px 16px;
text-decoration: none;
display: block;
text-align: left;
}

.transaction a:hover {
background-color: rgb(182, 221, 252);
}

.show {
display: block;
}
.menu .report {
width: 220px;
height: 40px;
margin-top:  -40px;
margin-left: 390px;
padding: 5px 5px;
border-radius: 30px;
outline: none;
color: black;
background-color: #8499f7;
overflow: hidden;
}
.report .dropdown_report {
cursor: pointer;
font-size: 20px;  
border: none;
outline: none;
color: white;
padding: 5px 5px;
width: 120px;
height: 40px;
border-radius: 30px;
background-color: inherit;
font-family: 'Kanit';
background-color: #8499f7;
}

.navbar a:hover, .trans:hover .dropdown_report, .dropdown_report:focus {
background-color:  #4767f4;
border-radius: 30px;

}

.menu_report {
display: none;
position: absolute;
background-color: #f9f9f9;
min-width: 160px;
box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
z-index: 1;
}

.menu_report a {
float: none;
color: black;
padding: 12px 16px;
text-decoration: none;
display: block;
text-align: left;
}

.menu_report a:hover {
background-color: rgb(182, 221, 252);
}
.user-transactions-list-month li {
  list-style: none;
}

.user-transactions-list-month .user-transactions-date {
  padding: 0.2em -1em;
  margin-top: -10px;
  margin-left: auto;
}
.user-transactions-list-month .user-transactions-date p {
  font-family: 'Kanit', sans-serif;
}

.user-transactions-date .title-underline {
  width: 60%;
  height: 1px;
  border-bottom: 1px dashed black;
  /* background-color: black; */
  margin-left: 50px;
  margin-top: -10px;
}
.detail-title-user {
  visibility: hidden;
}
.active {
  visibility: visible;
  font-family: 'Kanit';
  font-size: 1em;
  color: rgb(101, 101, 245);
  font-weight: bold;
}

.month {
  width: 70%;
  background-color: rgba(123, 243, 243, 0.75);
  max-height: 20px;
  height: auto !important;
  height: 20px;
  padding: 0 0em;
  border-radius: 8px;
  margin-left: 40px;
}

.month-hide {
  display: none;
}

.danger {
  background-color: rgba(228, 6, 6, 0.75);
  color: whitesmoke;
}
.details .user-profile-card {
    width: 100%;
    height: 50%;
    /* background-color: rgb(160, 252, 252); */
    border-radius: 20px;
    padding: 1em 2em;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
  }
  .details .user-profile-card i {
    font-size: 2.2em;
    background-color: whitesmoke;
    padding: 0.25em 0.25em;
    border-radius: 10px;
  }
  .details .user-profile-card .user-profile-card-details {
    width: 100%;
  
    margin-top: 1em;
    padding: 0.5em 1em;
  }
    .details
    .user-profile-card
    .user-profile-card-details
    .user-profile-card-details-label {
    border-radius: 10px;
    background-color: whitesmoke;
    padding: 0.25em 0.5em;
    margin-top: 0.5em;
  }
  .user-profile-card-details-label p {
    margin: 0;
    font-family: 'Kanit';
    font-weight: bold;
  }
  
  .user-profile-card-details-label {
    display: flex;
    /* justify-content: space-around; */
    align-items: center;
  }
  .user-profile-card-details-label {
    position: relative;
  }
  #user-name,
  #user-personal-number,
  #user-date,
  #user-amount, 
  #user-address,
  #user-telnumber,
  #user-sex,
  #user-dividend{
    color: blueviolet;
    position: absolute;
    left: 35%;
    opacity: 1;
  }

  
  table i {
    color: rgb(101, 101, 245);
    cursor: pointer;
  }
  table i:hover {
    transform: scale(1.2, 1.2);
  }

  .list-menu .input-group {
    display: flex;
    position: relative;
    justify-content: flex;
    margin-top: 20px;;
  }
  .list-menu .btn-primary {
    border-radius: 0 5px 5px 0;
  }
  .list-menu tr {
    color: #060606;
  }
  .all {
    display: flex;
    margin-right: 40px;
  }
  
  .hide {
    display: none;
  }





