
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,200;1,200&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Kanit';
    background-image: url(bg.jpg);
}
body {
    height: 745px;
    width: 1530px;
    padding: 30px 45px;
    background: url(../img/bg.jpg) no-repeat;
}
.container {
    width: 1300px;
    height: 640px;
    margin-top:  30px;
    margin-left: 30px;
    margin-bottom: 10px;
    margin-right: 30px;
    padding: 5px 5px;
    
    border-radius: 70px;
    outline: none;
    color: black;
    background-color: antiquewhite;
}
.container .container2 {
    width: 100%;
    text-align: center;
}
.container2 {
    max-width: 1270px;
    height: 600px;
    border-radius: 50px;
    padding:5px 5px;
    margin-top:  10px;
    margin-left: 0px;
    margin-bottom: 10px;
    margin-right: 20px;
    outline: none;
    color: black;
    background-color: white;
}
.container .container2 h3 {
    font-family: 'Kanit';
    text-transform: uppercase;
    margin-top:  3px;
    color: rgb(255, 0, 230);
    margin-left: -40px;
    font-size: 15px;
    padding:5px 2px;
    width: 30%;
}
.container2 h4 {
    font-family: 'Kanit';
    text-transform: uppercase;
    margin-top:  -10px;
    color: rgb(34, 0, 255);
    margin-right: 950px;
    font-size: 25px;
    padding:5px 5px;
}
.container2 .balance {
    width: 300px;
    height: 500px;
    margin-top:  15px;
    margin-left: 10px;
    padding: 10px 5px;
    border-radius: 70px;
    outline: none;
    color: black;
    background-color: #fef2f2;
}
.balance h1 {
    font-family: 'Kanit';
    text-transform: uppercase;
    margin-top:  30px;
    color: rgb(1, 1, 1);  
}
.container2 .balance h2 {
    text-transform: uppercase;
    margin-top:  20px;
    color: rgb(0, 25, 247);
      
}
.container2 .balance h3 {
    text-transform: uppercase;
    margin-top:  20px;
    color: rgb(1, 1, 1); 
    width: 300px;
    margin-left: 10px;
    font-size: 25px;
}
.logout_btn {
    width: 30%;
    padding: 12px 1px;
    margin-top: 10px;
    margin-left: 500px;
    border-radius: 15px;
    outline: none;
    background-color: #f50303;
    color: aliceblue;
    border: none;
    text-transform: uppercase;
    font: bold 'Montserrat' 2em;
  }
  .logout_btn:hover {
    background-color: rgb(245, 160, 160);
  }
  .details .btn-list {
    width: 20%;
    padding: 10px 1px;
    margin-right: 550px;
    margin-top: 0px;
    text-transform: uppercase;
    font-family: 'Quicksand';
    background-color: whitesmoke;
    border: solid 1px rgb(28, 230, 28);
    border-radius: 15px;
    color: rgb(101, 245, 127);
    outline: none;
    
  }
  .details .btn-list i {
    margin-right: 10px;
  }
  .details .btn-list:hover {
    background-color: rgb(101, 245, 101);
    border: solid 1px rgb(28, 230, 68);
    color: whitesmoke;
  }
.container2 .details {
    width: 800px;
    height: 500px;
    margin-top:  -500px;
    margin-left: 320px;
    margin-right: 30px;
    padding: 5px 5px;
    border-radius: 70px;
    outline: none;
    color: black;
    background-color: #fae2e2;
}
.container2 .menu {
    margin-left: -20px;
}
.menu .home {
  width: 120px;
  height: 40px;
  margin-top:  -50px;
  margin-left: -50px;
  padding: 5px 5px;
  border-radius: 30px;
  outline: none;
  color: black;
  
}
.home a {
  text-transform: uppercase;
  margin-top:  20px;
  color: rgb(3, 3, 3);
  font-size: 20px;
}
.home a:hover {
  color: rgb(46, 0, 250);
}
.menu .diposit {
  width: 120px;
  height: 40px;
  margin-top:  -40px;
  margin-left: 50px;
  padding: 5px 5px;
  border-radius: 30px;
  outline: none;
  color: black;
  
}
.diposit a {
  text-transform: uppercase;
  color: rgb(3, 3, 3);
  font-size: 20px;
}
.diposit a:hover {
  color: rgb(46, 0, 250);
}
.menu .withdraw {
  width: 120px;
  height: 40px;
  margin-top:  -40px;
  margin-left: 145px;
  padding: 5px 5px;
  border-radius: 30px;
  outline: none;
  color: black;
}
.withdraw a {
  text-transform: uppercase;
  color: rgb(3, 3, 3);
  font-size: 20px;
}
.withdraw a:hover {
  color: rgb(46, 0, 250);
}
.menu .borrow {
  width: 120px;
  height: 40px;
  margin-top:  -40px;
  margin-left: 230px;
  padding: 5px 5px;
  border-radius: 30px;
  outline: none;
  color: black;
}
.borrow a {
  text-transform: uppercase;
  color: rgb(3, 3, 3);
  font-size: 20px;
}
.borrow a:hover {
  color: rgb(46, 0, 250);
}
.menu .dividend {
  width: 120px;
  height: 40px;
  margin-top:  -40px;
  margin-left: 310px;
  padding: 5px 5px;
  border-radius: 30px;
  outline: none;
  color: black;
}
.dividend a {
  text-transform: uppercase;
  color: rgb(3, 3, 3);
  font-size: 20px;
}
.dividend a:hover {
  color: rgb(46, 0, 250);
}
.menu .book {
  width: 120px;
  height: 40px;
  margin-top:  -40px;
  margin-left: 420px;
  padding: 5px 5px;
  border-radius: 30px;
  outline: none;
  color: black;
  
}
.book a {
  text-transform: uppercase;
  color: rgb(3, 3, 3);
  font-size: 20px;
}
.book a:hover {
  color: rgb(46, 0, 250);
}
.menu .member {
  width: 120px;
  height: 40px;
  margin-top:  -40px;
  margin-left: 535px;
  margin-right: 200px;
  padding: 5px 5px;
  border-radius: 30px;
  outline: none;
  color: black;

}
.member a {
  text-transform: uppercase;
  color: rgb(3, 3, 3);
  font-size: 20px;
}
.member a:hover {
  color: rgb(46, 0, 250);
}
.menu .signup {
  width: 120px;
  height: 40px;
  margin-top:  -40px;
  margin-left: 650px;
  margin-right: 20px;
  padding: 5px 5px;
  border-radius: 30px;
  outline: none;
  color: black;
}
.signup a {
  text-transform: uppercase;
  color: rgb(3, 3, 3);
  font-size: 20px;
}
.signup a:hover {
  color: rgb(46, 0, 250);
}
.user-transactions-list-month li {
  list-style: none;
}
.balance {
  margin-left: 30px;
  margin-top: -10px;
  border-radius: 10px;
  font-size: 10px;
}
.balance .user-transactions-list-month {
  padding: 5px 5px;
  margin-top: 0px;
  margin-left: auto;
  /* margin-bottom: 0.5em; */
  /* overflow-y: scroll; */
}
.user-transactions-list-month .user-transactions-date {
  padding: 0.2em -1em;
  margin-top: -10px;
  margin-left: auto;
}
.user-transactions-list-month .user-transactions-date p {
  font-family: 'Kanit', sans-serif;
}

.user-transactions-date .title-underline {
  width: 60%;
  height: 1px;
  border-bottom: 1px dashed black;
  /* background-color: black; */
  margin-left: 50px;
  margin-top: -10px;
}
.detail-title-user {
  visibility: hidden;
}
.active {
  visibility: visible;
  font-family: 'Kanit';
  font-size: 1em;
  color: rgb(101, 101, 245);
  font-weight: bold;
}

.month {
  width: 70%;
  background-color: rgba(123, 243, 243, 0.75);
  max-height: 20px;
  height: auto !important;
  height: 20px;
  padding: 0 0em;
  border-radius: 8px;
  margin-left: 40px;
}

.month-hide {
  display: none;
}

.danger {
  background-color: rgba(228, 6, 6, 0.75);
  color: whitesmoke;
}
.details .user-profile-card {
    width: 100%;
    height: 50%;
    /* background-color: rgb(160, 252, 252); */
    border-radius: 20px;
    padding: 1em 2em;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
  }
  .details .user-profile-card i {
    font-size: 2.2em;
    background-color: whitesmoke;
    padding: 0.25em 0.25em;
    border-radius: 10px;
  }
  .details .user-profile-card .user-profile-card-details {
    width: 100%;
  
    margin-top: 1em;
    padding: 0.5em 1em;
  }
  .details
    .user-profile-card
    .user-profile-card-details
    .user-profile-card-details-label {
    border-radius: 10px;
    background-color: whitesmoke;
    padding: 0.25em 0.5em;
    margin-top: 0.5em;
  }
  .user-profile-card-details-label p {
    margin: 0;
    font-family: 'Kanit';
    font-weight: bold;
  }
  
  .user-profile-card-details-label {
    display: flex;
    /* justify-content: space-around; */
    align-items: center;
  }
  .user-profile-card-details-label {
    position: relative;
  }
  #user-name,
  #user-personal-number,
  #user-date,
  #user-amount, 
  #user-address,
  #user-telnumber,
  #user-sex,
  #user-dividend{
    color: blueviolet;
    position: absolute;
    left: 35%;
    opacity: 1;
  }

  
  table i {
    color: rgb(101, 101, 245);
    cursor: pointer;
  }
  table i:hover {
    transform: scale(1.2, 1.2);
  }

  .list-menu .input-group {
    display: flex;
    position: relative;
    justify-content: flex;
    margin-top: 20px;;
  }
  .list-menu .btn-primary {
    border-radius: 0 5px 5px 0;
  }
  .list-menu tr {
    color: #060606;
  }
  .all {
    display: flex;
    margin-right: 40px;
  }
  
  .hide {
    display: none;
  }





