
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,200;1,200&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Kanit';
    background-image: url(bg.jpg);
}
body {
    height: 745px;
    width: 1530px;
    padding: 30px 45px;
    background: url(../img/bg.jpg) no-repeat;
}
.container {
    width: 1300px;
    height: 640px;
    margin-top:  30px;
    margin-left: -30px;
    margin-bottom: 10px;
    margin-right: 3px;
    padding: 5px 5px;
    
    border-radius: 70px;
    outline: none;
    color: black;
    background-color: antiquewhite;
}
.container .container2 {
    width: 100%;
    text-align: center;
}
.container2 {
    max-width: 1270px;
    height: 600px;
    border-radius: 50px;
    padding:5px 5px;
    margin-top:  10px;
    margin-left: 0px;
    margin-bottom: 10px;
    margin-right: 10px;
    outline: none;
    color: black;
    background-color: white;
}
.container2 h3 {
    font-family: 'Kanit';
    text-transform: uppercase;
    margin-top:  3px;
    color: rgb(255, 0, 230);
    margin-right: 830px;
    font-size: 15px;
    padding:5px 5px;
}
.container2 h4 {
    font-family: 'Kanit';
    text-transform: uppercase;
    margin-top:  -10px;
    color: rgb(34, 0, 255);
    margin-right: 950px;
    font-size: 25px;
    padding:5px 5px;
}
.container2 .balance {
    width: 300px;
    height: 500px;
    margin-top:  15px;
    margin-left: 10px;
    padding: 10px 5px;
    border-radius: 70px;
    outline: none;
    color: black;
    background-color: #fef2f2;
}
.balance h1 {
    font-family: 'Kanit';
    text-transform: uppercase;
    margin-top:  30px;
    color: rgb(1, 1, 1);  
}
.container2 .balance h2 {
    text-transform: uppercase;
    margin-top:  20px;
    color: rgb(0, 25, 247);
      
}
.profile-history .detail-title {
    text-transform: uppercase;
    margin-top:  20px;
    color: rgb(0, 25, 247);
    font-size: 30px;
      
}
.profile-email {
    font-size: 20x;
    margin-top: 20px;
  }
.profile-history .detail-amount {
    text-transform: uppercase;
    margin-top:  10px;
    color: rgb(1, 1, 1); 
    width: 300px;
    margin-left: 10px;
    font-size: 25px;
}
.profile-history .detail-title-user {
    text-transform: uppercase;
    margin-top:  20px;
    color: rgb(0, 25, 247);
    font-size: 30px;
      
}
.profile-history .detail-amount-user {
    text-transform: uppercase;
    margin-top:  20px;
    color: rgb(1, 1, 1); 
    width: 300px;
    margin-left: 10px;
    font-size: 25px;
}

.active {
    visibility: visible;
    font-family: 'Kanit';
    font-size: 1.2em;
    color: rgb(101, 101, 245);
    font-weight: bold;
  }
.btn-profile {
    position: absolute;
    margin-top: 80px;
    margin-left: 110px;
    text-transform: uppercase;
    font-family: 'Quicksand';
    background-color: whitesmoke;
    border: solid 1px rgb(28, 28, 230);
    border-radius: 15px;
    color: rgb(101, 101, 245);
    outline: none;
    padding: 0.5em 0.5em;
  }
  .btn-profile i {
    margin-right: 10px;
  }
  .btn-profile:hover {
    background-color: rgb(101, 101, 245);
    border: solid 1px rgb(28, 28, 230);
    color: whitesmoke;
  }
.container2 .balance h2 {
    text-transform: uppercase;
    margin-top:  20px;
    color: rgb(0, 25, 247);
      
}
.container2 .balance h3 {
    text-transform: uppercase;
    margin-top:  20px;
    color: rgb(1, 1, 1); 
    width: 300px;
    margin-left: 10px;
    font-size: 25px;
}
.logout_btn {
    width: 50%;
    padding: 12px 1px;
    margin-top: 130px;
    margin-left: 110px;
    border-radius: 15px;
    outline: none;
    background-color: #f50303;
    color: aliceblue;
    border: none;
    text-transform: uppercase;
    font: bold 'Montserrat' 2em;
  }
  .logout_btn:hover {
    background-color: rgb(245, 160, 160);
  }
.container2 .details {
    width: 800px;
    height: 500px;
    margin-top:  -500px;
    margin-left: 323px;
    margin-bottom: -100px;
    margin-right: 30px;
    padding: 5px 50px;
    border-radius: 70px;
    outline: none;
    color: black;
    background-color: #fae2e2;
}
.container2 .menu {
    margin-left: -20px;
}
.menu .home {
    width: 120px;
    height: 40px;
    margin-top:  -50px;
    margin-left: -50px;
    padding: 5px 5px;
    border-radius: 30px;
    outline: none;
    color: black;
    
}
.home a {
    text-transform: uppercase;
    margin-top:  20px;
    color: rgb(3, 3, 3);
    font-size: 20px;
}
.home a:hover {
    color: rgb(46, 0, 250);
  }
  .menu .trans {
    width: 220px;
    height: 40px;
    margin-top:  -40px;
    margin-left: 150px;
    padding: 5px 5px;
    border-radius: 30px;
    outline: none;
    color: black;
    background-color: #8499f7;
    overflow: hidden;
}
.trans .dropdown {
  cursor: pointer;
  font-size: 20px;  
  border: none;
  outline: none;
  color: white;
  padding: 5px 5px;
  width: 120px;
  height: 40px;
  border-radius: 30px;
  background-color: inherit;
  font-family: 'Kanit';
  margin: 0;
}

.navbar a:hover, .trans:hover .dropdown, .dropdown:focus {
  background-color:  #4767f4;
  border-radius: 30px;

}

.transaction {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.transaction a {
  float: none;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.transaction a:hover {
  background-color: rgb(182, 221, 252);
}

.show {
  display: block;
}
.menu .report {
  width: 220px;
  height: 40px;
  margin-top:  -40px;
  margin-left: 390px;
  padding: 5px 5px;
  border-radius: 30px;
  outline: none;
  color: black;
  background-color: #8499f7;
  overflow: hidden;
}
.report .dropdown_report {
cursor: pointer;
font-size: 20px;  
border: none;
outline: none;
color: white;
padding: 5px 5px;
width: 120px;
height: 40px;
border-radius: 30px;
background-color: inherit;
font-family: 'Kanit';
background-color: #8499f7;
}

.navbar a:hover, .trans:hover .dropdown_report, .dropdown_report:focus {
  background-color:  #4767f4;
  border-radius: 30px;

}

.menu_report {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.menu_report a {
  float: none;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.menu_report a:hover {
  background-color: rgb(182, 221, 252);
}
.content {
    width: 100%;
    height: 100%;
}
.content {
    display: flex;
    flex-direction: column;
    padding: 20px 20px;
    
  }
table i {
    color: rgb(101, 101, 245);
    cursor: pointer;
}
table i:hover {
    transform: scale(1.2, 1.2);
}
  
.content .group-field {
    display: inline;
}
.content input {
    margin-bottom: 2em;
    padding: 10px 10px;
    outline: rgb(101, 101, 245);
    border: solid 1px rgb(105, 104, 104);
    border-radius: 15px;
}
.groups-field {
    display: flex;
    width: 100%;
    margin-top: -14px;
}
  .groups-field .group {
    margin-right: 1em;
    width: 50%;
}
  .groups-field .group .label-name {
    display: block;
}
  .groups-field .group input {
    width: 100%;
    box-sizing: border-box;
    border: none;
    border-bottom: 2px solid red;
    background-color: #fdebeb;
}
.content button {
    width: 30%;
    align-self: flex-end;
    padding: 0.5em 1em;
    border-radius: 10px;
    border: 1px solid #2196f3;
    color: #2196f3;
    outline: none;
    background-color: white;
    cursor: pointer;
    margin-top: -10px;
}
.content button:hover {
    background-color: #2196f3;
    color: white;
}
table {
    width: 100%;
    margin-top: 14px;
    font-family: 'Kanit';
    visibility: hidden;
  }
  table tbody {
    padding: 0.5em 0.5em;
  }
  table tbody tr th,
  table tbody tr td {
    padding: 0.5em 0.5em;
    border: 1px solid rgb(148, 149, 156);
  }
  
  table tbody tr th {
    background-color: #F5C6C6;
    color: rgb(5, 5, 5);
  }
  table tbody tr th,
  table tbody tr td {
    visibility: visible;
    border: 2px solid rgb(83, 84, 87);
  }
  .set_table {
    visibility: visible;
  }


  .content .btn-list {
    margin-top: -37px;
    margin-right: auto;
    text-transform: uppercase;
    font-family: 'Quicksand';
    background-color: whitesmoke;
    border: solid 1px rgb(28, 230, 28);
    border-radius: 15px;
    color: rgb(101, 245, 127);
    outline: none;
    padding: 0.5em 0.5em;
  }
  .content .btn-list i {
    margin-right: 10px;
  }
  .content .btn-list:hover {
    background-color: rgb(101, 245, 101);
    border: solid 1px rgb(28, 230, 68);
    color: whitesmoke;
  }
  table i {
    color: rgb(101, 101, 245);
    cursor: pointer;
  }
  table i:hover {
    transform: scale(1.2, 1.2);
  }
  
  .list-menu .input-group {
    display: flex;
    position: relative;
    justify-content: flex;
    margin-top: 20px;;
  }
  .list-menu .btn-primary {
    border-radius: 0 5px 5px 0;
  }
  .list-menu tr {
    color: #060606;
  }
  .all {
    display: flex;
    margin-right: 2.5em;
  }
  
  .hide {
    display: none;
  }







